.player.eg {
    text-align: center;

    img,
    canvas {
        max-width: 98% !important;
        margin: 0 auto;
    }
}


.view,
.view-overflow {
    height: 100vh;
    background-color: #252525;

    .header {
        width: calc(100% - 2vw);
        margin-left: 1vw;
        padding: .5vw 0;
        height: 4vw;

        .h_left,
        .h_center,
        .h_right {
            height: 100%;
            position: relative;
        }

        .h_left {
            width: 30%;
            float: left;
        }

        .h_center {
            width: 40%;
            float: left;
        }

        .h_right {
            width: 30%;
            float: right;
        }
    }

    .mask {
        background-color: rgba(0, 0, 0, .8);
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        opacity: 0;
        -webkit-transition: all ease 1s;

        &.active {
            opacity: 1;
            -webkit-transition: all ease 1s;
        }
    }

    .view-tm-bracket,
    .view-tm {
        max-width: 1920px;
        height: calc(100vw * 9/16);
        background-image: url('./images/obs_bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-weight: 700;
        position: relative;

        .bracket {
            opacity: 0;
            width: 98vw;
            height: calc((100vw * 9/16) - 7vw);
            padding: 0 1vw;
            margin-top: 2vw;
            -webkit-transition: all ease 1s;
            cursor: pointer;
            position: absolute;

            &.active {
                opacity: 1;
                -webkit-transition: all ease 1s;
                z-index: 700;
            }

            .title {
                rect {
                    fill: #121416;
                }

                text {
                    fill: #6b6b6c;
                    font-size: 42px;
                }
            }

            .player {
                rect {
                    fill: rgba(0, 0, 0, .6);
                }

                path {
                    stroke: #fff;
                    stroke-opacity: .3;
                }

                .trace {
                    fill: #fff;
                    font-size: 36px;
                }

                .info {
                    font-weight: 500;
                    fill: #fff;
                    font-size: 18px;
                }
            }

            .line {
                path {
                    stroke: #fff;
                }
            }
        }

        .video-area {
            opacity: 0;
            width: calc(100% - 2vw);
            height: calc((100vw * 9/16) - 15vw);
            padding: 1vw;
            overflow-x: hidden;
            -webkit-transition: all ease 1s;
            position: absolute;

            &.active {
                opacity: 1;
                -webkit-transition: all ease 1s;
            }

            .video-2,
            .video-4 {
                position: relative;
                width: 50%;
                height: 100%;
                overflow: hidden;
            }

            .video-4 {
                position: absolute;
                top: 1vw;
                right: 1vw;
                height: calc(100% - 2vw);

                .adr-name {
                    position: absolute;
                    width: 54%;
                    height: 10%;
                    bottom: 0;
                    z-index: 1000;
                }
            }

            .video-1 {
                position: absolute;
                width: 23.1%;
                height: 30%;
                bottom: 1vw;
                left: 76%;
                overflow: hidden;
                cursor: pointer;
                -webkit-transition: all ease 0.3s;
                z-index: 1500;

                &.active {
                    width: calc(100vw * .73);
                    height: inherit;
                    -webkit-transition: all ease 0.3s;
                    left: 15%;
                }
            }

            canvas {
                position: absolute;
                height: 100%;
            }

            .video-2 {
                canvas {
                    left: -5%;
                }
            }
        }
    }

    .footer {
        width: calc(100% - 26vw);
        margin-left: 1vw;
        padding: .5vw 12vw;
        height: 6.5vw;
        position: absolute;
        bottom: 0;
        z-index: 600;

        .f_left,
        .f_center,
        .f_right {
            height: 100%;
            position: relative;
            box-sizing: border-box;
            cursor: pointer;
        }

        .f_left {
            width: 40%;
            float: left;

            text {
                fill: #666;
            }

            &.active {
                text {
                    fill: #fff;
                }
            }
        }

        .f_center {
            width: 20%;
            float: left;
        }

        .f_right {
            width: 40%;
            float: right;

            text {
                fill: #666;
            }

            &.active {
                text {
                    fill: #fff;
                }
            }
        }

        .f_left,
        .f_right {
            border: 2px solid #666;

            &.active {
                border-color: #fff;
            }
        }
    }
}

.view-overflow {
    overflow: auto;

    &::-webkit-scrollbar {
        display: none
    }
}
